.SelectWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.select {
    padding: 5px;
    color: var(--primary-color);
    background: none;
    border: 1px solid var(--primary-color);
    outline: none;
}

.readonly {
    opacity: 0.3;
}
