.ArticleDetailsPage {
    min-height: 100%;
}

.commentsTitle {
    margin-top: var(--default-padding);
}

.recommendationsTitle {
    margin-top: var(--default-padding);
}

.recommendations {
    display: flex;
    flex-wrap: nowrap;
    margin-top: var(--default-padding);
    overflow-x: auto;
    overflow-y: hidden;
}
