.Navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    padding: var(--default-padding);
    background: var(--inverted-bg-color);
}

.createBtn {
    margin-right: var(--default-padding);
    margin-left: auto;
}
