.Sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--inverted-bg-color);
    transition: width var(--animation-time);
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: var(--default-padding);
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-left: var(--default-padding);
}

.navItem {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icon {
    fill: var(--inverted-primary-color);
}

.link {
    margin-left: 10px;
    transition: var(--animation-time) opacity;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .link {
        width: 0;
        opacity: 0;
    }
}
